{% extends 'base.html' %}
{% block content %}
    <h1 class="mt-5">Shortened URLs:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Short URL</th>
            <th scope="col">Original URL</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ url.short }}" target="_blank" rel="noopener noreferrer">{{ url.short }}</a></td>
                <td><a href="{{ url.original }}" target="_blank" rel="noopener noreferrer">{{ url.original }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}